/* FONTS  */
@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Medium.woff2") format("woff2"),
        url("../fonts/PublicSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Thin.woff2") format("woff2"),
        url("../fonts/PublicSans-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* CUSTOM PROPRS  */
:root {
    --text-color: #9597a5;
    --heading-color: #2d314d;
    --green: #30c88f;
    --white: #fff;
    --main-bg: #f4f5f7;
}


/* GLOBAL  */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 2px dotted green;
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', "Arial", sans-serif;
    font-size: 18px;
    line-height: 28px;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* AUTOFILL-STYLES  */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* PLACEHOLDER-STYLES  */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
} */


/* VISUALLY-HIDDEN  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* BUTTON  */
.button {
    display: inline-block;
    padding: 8px 36px 8px 33px;
    border-radius: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: var(--white);
    background-color: var(--green);
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}


/* CONTAINER  */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT  */
.main-content {
    flex-grow: 1;
}


/* SITE-HEADER  */
.site-header {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: var(--white);
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: 50px;
}

.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 139px;
    height: 20px;
    object-fit: contain;
}

.sitenav {
    margin-left: auto;
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 30px;
}

.sitenav__link {
    display: block;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.2px;
    color: var(--text-color);
}

.sitenav__link:hover {
    color: var(--heading-color);
    /* border-bottom: 4px solid var(--green); */
}


/* HERO  */
.hero {
    padding-top: 170px;
    padding-bottom: 170px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgba(245, 246, 247, 0.5);
}

.hero__container {
    display: flex;
    align-items: flex-start;
}

.hero__content {
    flex-shrink: 0;
    width: 100%;
    max-width: 450px;
}

.hero__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: var(--heading-color);
}

.hero__text {
    margin-top: 0;
    margin-bottom: 36px;
    letter-spacing: -0.3px;
}


/* FEATURES  */
.features {
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: var(--main-bg);
}

.features__inner {
    width: 100%;
    max-width: 635px;
    margin-bottom: 72px;
}

.features-heading {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.7px;
    color: var(--heading-color);
}

.features__text {
    margin: 0;
    letter-spacing: -0.3px;
}

.features__wrapper {
    display: flex;
    align-items: center;
}

.features__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features__list:not(:last-child) {
    margin-right: 30px;
}

.wrapper {
    margin-top: 0;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    background-color: var(--green);
}

.wrapper-img {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.wrapper-img-smoll {
    display: block;
    width: 33px;
    height: 40px;
    object-fit: cover;
}

.feature-title {
    margin-top: 0;
    margin-bottom: 26px;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: var(--heading-color);
}

.feature-info {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: var(--text-color);
}


/* ARTICLES  */
.articles {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--white);
}

.articles__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.7px;
    color: var(--heading-color);
}

.articles__wrapper {
    display: flex;
    align-items: center;
}

.articles__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.articles__list:not(:last-child) {
    margin-right: 30px;
}

.articles__item {
    border-radius: 5px;
}

.articles__img {
    display: block;
    width: 255px;
    height: 200px;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.2);
}

.article {
    padding: 25px;
}

.article-info {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: var(--text-color);
}

.article-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: var(--heading-color);
}

.article-title:hover {
    color: var(--green);
}

.article-title:active {
    opacity: 0.6;
}

.article-text {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.2px;
}


/* SITE-FOOTER  */


















@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}